<ion-header>
  <ion-toolbar>
    <ion-title>win</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-header translucent>
      <ion-toolbar>
        <ion-title color="primary">Game win</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-item>
      <ion-label>Number of Head</ion-label>
      <ion-badge color="warning" slot="end">100</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Percent of Head</ion-label>
      <ion-badge color="tertiary" slot="end">57%</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Number of Tail</ion-label>
      <ion-badge color="success" slot="end">76</ion-badge>
      
    </ion-item>
    <ion-item>
      <ion-label>Percent of Tail</ion-label>
      <ion-badge color="warning" slot="end">43%</ion-badge>
    </ion-item>
    
    <ion-header translucent>
      <ion-toolbar>
        <ion-title color="primary">Coins Used</ion-title>
        
      </ion-toolbar>
    </ion-header>
    <ion-item>
      <ion-label>Number of Quarter</ion-label>
      <ion-badge color="danger" slot="end">100</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Number of Nickel</ion-label>
      <ion-badge color="light" slot="end">76</ion-badge>
    </ion-item>
    <br />
    <ion-footer>
      <ion-toolbar color="tertiary">
    <ion-button color="success" slot="start" routerLink="/home">PLAY AGAIN</ion-button>

    
    <ion-button color="danger" slot="end" routerLink="/game-played">QUIT</ion-button>

  </ion-toolbar>
</ion-footer>
    
  </ion-list>

</ion-content>