<ion-header>
  <ion-toolbar>
    <ion-title>game-played</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-header translucent>
      <ion-toolbar>
        <ion-title color="primary">Game win</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-item>
      <ion-label>Number of Head</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Percent of Head</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Number of Tail</ion-label>
      
    </ion-item>
    <ion-item>
      <ion-label>Percent of Tail</ion-label>
    </ion-item>
    <ion-header translucent>
      <ion-toolbar>
        <ion-title color="primary">Game Lost</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-item>
      <ion-label>Number of Head</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Percent of Head</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Number of Tail</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Percent of Tail</ion-label>
    </ion-item>
    <ion-header translucent>
      <ion-toolbar>
        <ion-title color="primary">Coins Used</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-item>
      <ion-label>Number of Quarter</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Number of Nickel</ion-label>
    </ion-item>
    <br />
    <ion-button (click)="">Win</ion-button>
    <ion-button (click)="">Loose</ion-button>
    <ion-button (click)="">Quit</ion-button>
    
  </ion-list>

</ion-content>
