<ion-header>
  <ion-toolbar>
    <ion-title size="large">game-played</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-progress-bar color="secondary" type="indeterminate"></ion-progress-bar>
    <ion-header translucent>
      <ion-toolbar>
        <ion-title color="primary">Albert won with Quarter({{albertWinQuarter}})</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-progress-bar color="secondary" type="indeterminate" reversed="true"></ion-progress-bar>
    <ion-item>
      <ion-label color="danger">Number of Head Win</ion-label>
      <ion-badge color="warning" slot="end">({{albertWinHeadQuarter}})</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label color="danger">Percent of Head Win</ion-label>
      <ion-badge color="tertiary" slot="end">{{ quarterHeadWinningPercentage | percent }}</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label color="success">Number of Tail Win</ion-label>
      <ion-badge color="success" slot="end">({{albertWinTailQuarter}})</ion-badge>
      
    </ion-item>
    <ion-item>
      <ion-label color="success">Percent of Tail Win</ion-label>
      <ion-badge color="warning" slot="end">{{ quarterTailWinningPercentage | percent }}</ion-badge>
    </ion-item>
    <ion-progress-bar color="warning" type="indeterminate"></ion-progress-bar>
    <ion-header translucent>
      <ion-toolbar>
        <ion-title color="primary">Albert won with Nickel({{albertWinNickel}})</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-progress-bar color="warning" type="indeterminate" reversed="true"></ion-progress-bar>
    <ion-item>
      <ion-label color="danger">Number of Head Win</ion-label>
      <ion-badge color="light" slot="end">({{albertWinHeadNickel}})</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label color="danger">Percent of Head Win</ion-label>
      <ion-badge color="success" slot="end">{{ nickelHeadWinningPercentage | percent }}</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label color="success">Number of Tail Win</ion-label>
      <ion-badge color="warning" slot="end">({{albertWinTailNickel}})</ion-badge>
      
    </ion-item>
    <ion-item>
      <ion-label color="success">Percent of Tail Win</ion-label>
      <ion-badge color="tertiary" slot="end">{{ nickelTailWinningPercentage | percent }}</ion-badge>
    </ion-item>

    <ion-progress-bar type="indeterminate"></ion-progress-bar>
    <ion-header translucent>
      <ion-toolbar>
        <ion-title color="primary">Albert lost with Quarter({{albertLooseQuarter}})</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-progress-bar type="indeterminate" reversed="true"></ion-progress-bar>
    <ion-item>
      <ion-label color="danger">Number of Head lost</ion-label>
      <ion-badge color="warning" slot="end">({{albertLooseHeadQuarter}})</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label color="danger">Percent of Head lost</ion-label>
      <ion-badge color="tertiary" slot="end">{{ quarterHeadLoosingPercentage | percent }}</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label color="success">Number of Tail lost</ion-label>
      <ion-badge color="success" slot="end">({{albertLooseTailQuarter}})</ion-badge>
      
    </ion-item>
    <ion-item>
      <ion-label color="success">Percent of Tail lost</ion-label>
      <ion-badge color="warning" slot="end">{{ quarterTailLoosingPercentage | percent }}</ion-badge>
    </ion-item>
    <ion-progress-bar color="warning" type="indeterminate"></ion-progress-bar>
    <ion-header translucent>
      <ion-toolbar>
        <ion-title color="primary">Albert lost with Nickel ({{albertLooseNickel}})</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-progress-bar color="warning" type="indeterminate" reversed="true"></ion-progress-bar>
    <ion-item>
      <ion-label color="danger">Number of Head lost</ion-label>
      <ion-badge color="light" slot="end">({{albertLooseHeadNickel}})</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label color="danger">Percent of Head lost</ion-label>
      <ion-badge color="success" slot="end">{{ nickelHeadLoosingPercentage | percent }}</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label color="success">Number of Tail lost</ion-label>
      <ion-badge color="warning" slot="end">({{albertLooseTailNickel}})</ion-badge>
      
    </ion-item>
    <ion-item>
      <ion-label color="success">Percent of Tail lost</ion-label>
      <ion-badge color="tertiary" slot="end">{{ nickelTailLoosingPercentage | percent }}</ion-badge>
    </ion-item>

     <ion-progress-bar color="danger" type="indeterminate"></ion-progress-bar>
    <ion-header translucent>
      <ion-toolbar>
        <ion-title color="primary">Coins Used ({{albertCoinsUsed}})</ion-title>
        
      </ion-toolbar>
    </ion-header>
    <ion-progress-bar color="danger" type="indeterminate" reversed="true"></ion-progress-bar>
    <ion-item>
      <ion-label color="warning">Number of Quarter flipped </ion-label>
      <ion-badge color="danger" slot="end">({{albertQuarterUsed}})</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label color="danger">Number of Nickel flipped</ion-label>
      <ion-badge color="tertiary" slot="end">({{albertNickelUsed}})</ion-badge>
    </ion-item>
    <br />
    <ion-footer>
      <ion-toolbar color="tertiary">
        
      
    <ion-button size="large" color="danger" slot="start" (click)="Previous()">Back</ion-button>
    <ion-button size="large" color="success" slot="end" (click)="playAgain()">Done</ion-button>
    
  </ion-toolbar>
  </ion-footer>
  </ion-list>

</ion-content>
