<ion-header>
  <ion-toolbar>
    <ion-title size="large">game-played</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-header translucent>
      <ion-toolbar>
        <ion-title color="primary">Albert won with Quarter</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-item>
      <ion-label>Number of Head Win</ion-label>
      <ion-badge color="warning" slot="end">({{ myTcaFlipCoinsSvc.gameResult.length }})</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Percent of Head Win</ion-label>
      <ion-badge color="tertiary" slot="end">{{ winningPercentage | percent }}</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Number of Tail Win</ion-label>
      <ion-badge color="success" slot="end">({{numberOfTail}})</ion-badge>
      
    </ion-item>
    <ion-item>
      <ion-label>Percent of Tail Win</ion-label>
      <ion-badge color="warning" slot="end">{{ loosingPercentage | percent }}</ion-badge>
    </ion-item>
    <ion-header translucent>
      <ion-toolbar>
        <ion-title color="primary">Albert won with Nickel</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-item>
      <ion-label>Number of Head Win</ion-label>
      <ion-badge color="light" slot="end">({{numberOfHead}})</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Percent of Head Win</ion-label>
      <ion-badge color="success" slot="end">{{ loosingPercentage | percent }}</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Number of Tail Win</ion-label>
      <ion-badge color="warning" slot="end">({{numberOfTail}})</ion-badge>
      
    </ion-item>
    <ion-item>
      <ion-label>Percent of Tail Win</ion-label>
      <ion-badge color="tertiary" slot="end">{{ winningPercentage | percent }}</ion-badge>
    </ion-item>


    <ion-header translucent>
      <ion-toolbar>
        <ion-title color="primary">Albert lost with Quarter</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-item>
      <ion-label>Number of Head lost</ion-label>
      <ion-badge color="warning" slot="end">({{numberOfHead}})</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Percent of Head lost</ion-label>
      <ion-badge color="tertiary" slot="end">{{ winningPercentage | percent }}</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Number of Tail lost</ion-label>
      <ion-badge color="success" slot="end">({{numberOfTail}})</ion-badge>
      
    </ion-item>
    <ion-item>
      <ion-label>Percent of Tail lost</ion-label>
      <ion-badge color="warning" slot="end">{{ loosingPercentage | percent }}</ion-badge>
    </ion-item>
    <ion-header translucent>
      <ion-toolbar>
        <ion-title color="primary">Albert lost with Nickel</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-item>
      <ion-label>Number of Head lost</ion-label>
      <ion-badge color="light" slot="end">({{numberOfHead}})</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Percent of Head lost</ion-label>
      <ion-badge color="success" slot="end">{{ loosingPercentage | percent }}</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Number of Tail lost</ion-label>
      <ion-badge color="warning" slot="end">({{numberOfTail}})</ion-badge>
      
    </ion-item>
    <ion-item>
      <ion-label>Percent of Tail lost</ion-label>
      <ion-badge color="tertiary" slot="end">{{ winningPercentage | percent }}</ion-badge>
    </ion-item>

    
    <ion-header translucent>
      <ion-toolbar>
        <ion-title color="primary">Coins Used</ion-title>
        
      </ion-toolbar>
    </ion-header>
    <ion-item>
      <ion-label>Number of Quarter flipped</ion-label>
      <ion-badge color="danger" slot="end">({{numberOfQuarter}})</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Number of Nickel flipped</ion-label>
      <ion-badge color="light" slot="end">({{numberOfNickel}})</ion-badge>
    </ion-item>
    <br />
    <ion-footer>
      <ion-toolbar color="tertiary">
        
      
    <ion-button size="large" color="danger" slot="start" (click)="Previous()">Back</ion-button>
    <ion-button size="large" color="success" slot="end" (click)="playAgain()">Done</ion-button>
    
  </ion-toolbar>
  </ion-footer>
  </ion-list>

</ion-content>
