<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      tca-flip-coins
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>PICK HEAD or TAIL</ion-list-header>
      <ion-item>
        <ion-label>I call HEAD</ion-label>
        <ion-checkbox color="primary" slot="start"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-checkbox color="dark" checked slot="start"></ion-checkbox>
        <ion-label>I call TAIL</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox color="danger" checked slot="start"></ion-checkbox>
        <ion-label>OPPONENT calls HEAD</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox color="secondary"  slot="start"></ion-checkbox>
        <ion-label>OPPONENT calls TAIL</ion-label>
      </ion-item>
      
    </ion-list>

    
</ion-content>

